{% extends "base.html" %}

{% block content %}
   <div class="mt-4">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Destination</th>
                    <th>Notes</th>
                    <th>Estimated Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for each_place in places %}
                <tr>
                    <td><strong>{{ each_place.name }}</strong></td>
                    <td>{{ each_place.notes }}</td>
                    <td>${{ "{:,.2f}".format(each_place.cost) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a href="/new_destination" class="btn btn-primary">Enter a new bucket list destination</a>
    </div>
{% endblock %}